<div class="gray-div">
  <div class="div">
      <h4 class="title">Simple OIDC Client</h4>
      <p>This is a simple OIDC client that uses the Authorization Code Flow (without PKCE).</p>
  </div>
  <form class="input-form">
      <h3 class="title">Configuration</h3>

      <div class="info-box">
        <mat-icon aria-hidden="false" aria-label="info icon" fontIcon="info"></mat-icon><br/>
        Make sure you have a client configured in your OIDC authority with client ID <span class="inline-code">{{clientId}}</span> and a redirect URI of <span class="inline-code">{{callbackUrl}}</span>.
      </div>
      
      <p>Add the URL of your OIDC authority/server below:</p>
      
      <mat-form-field class="form-full-width">
          <mat-label>OIDC Authority</mat-label>
          <input matInput [(ngModel)]="oidcAuthority" name="authority" placeholder="https://localhost:5000">
      </mat-form-field>
      
      <p>Add the client ID of your OIDC client below:</p>
      
      <mat-form-field class="form-full-width">
          <mat-label>OIDC Client ID</mat-label>
          <input matInput [(ngModel)]="clientId" name="clientId" placeholder="test-client">
      </mat-form-field>

      <p>Add or remove scopes:</p>

      <mat-form-field class="form-full-width">
        <mat-label>Scopes</mat-label>
        <mat-chip-grid #chipGrid aria-label="Enter/edit">
          <mat-chip-row *ngFor="let scope of scopes"
                        (removed)="removeScope(scope)">
            {{scope}}
            <button matChipRemove [attr.aria-label]="'remove ' + scope">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          <input placeholder="New scope..."
                 [matChipInputFor]="chipGrid"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="addScope($event)"
                 name="newScope"/>
        </mat-chip-grid>
      </mat-form-field>

      <button mat-raised-button type="button" color="primary" (click)="startAuthentication()">Start Authentication</button>
  </form>
<pre id="output"></pre>
</div>